# STM-9: Configurar repositorio GitHub resenas_steam con estructura base
# Sprint 1 - Infraestructura y ETL | TecNM Ingeniería Informática
streamlit
pandas
numpy
plotly
matplotlib
requests
beautifulsoup4
SQLAlchemy
psycopg2-binary
wordcloud
textblob
nltk
lxml
scikit-learn
fpdf2
statsmodels
