name: Steam ETL con Docker

on:
  schedule:
    - cron: '0 0 * * *' # Se ejecuta diario a medianoche
  workflow_dispatch:   # Botón para ejecutar manual

jobs:
  run-docker-etl:
    runs-on: ubuntu-latest
    steps:
      - name: Clonar el código del repo
        uses: actions/checkout@v3

      - name: Construir la "Maleta" (Imagen Docker)
        run: docker build -t steam-image .

      - name: Abrir la maleta y ejecutar (Contenedor)
        env:
          DB_URI: ${{ secrets.DB_URI }}
        run: |
          docker run --name steam-app \
          -e DB_URI=$DB_URI \
          steam-image
