Nombre: Ejecución Diaria Steam ETL

en:
  workflow_dispatch: # Botón manual

Empleos:
  Construir:
    Continuando: ubuntu-latest
    Escalones:
      - Nombre: Descargar código del repositorio
        Usos: Acciones/checkout@v3

      - Nombre: Construir la "Maleta" (Imagen Docker)
        corre: docker build -t steam-image .

      - Nombre: Abrir la maleta y ejecutar (Contenedor)
        env:
          # Aquí mapeamos los secretos de GitHub a variables que el script entienda
          DB_URI: ${{ secrets.DB_URI }}
          DB_URI_BACKUP: ${{ secrets.DB_URI_BACKUP }}
        corre: |
          docker run --name steam-app \
          -e DB_URI=$DB_URI \
          -e DB_URI_BACKUP=$DB_URI_BACKUP \
          steam-image
