name: Ejecución Diaria Steam ETL

on:
  workflow_dispatch: # Botón manual para pruebas

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker Image
        run: docker build -t steam-image .

      - name: Run Docker Container
        env:
          # Mapeo de secretos de GitHub a variables de entorno
          DB_URI: ${{ secrets.DB_URI }}
          DB_URI_BACKUP: ${{ secrets.DB_URI_BACKUP }}
        run: |
          docker run --name steam-app \
          -e DB_URI=$DB_URI \
          -e DB_URI_BACKUP=$DB_URI_BACKUP \
          steam-image
